<%= form_with(model: import_file, local: true) do |form| %>
  <% if import_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(import_file.errors.count, "error") %> prohibited this import_file from being saved:</h2>

      <ul>
      <% import_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :name %> <br>
    <%= form.text_field :name, id: :import_file_name %>
  </div>

  <div class="field">
    <%= form.label :email %> <br>
    <%= form.text_field :email, id: :import_file_email %>
  </div>

  <div class="field">
    <%= form.label :status %> <br>
    <%= form.text_field :status, id: :import_file_status %>
  </div>
<br>
  <div class="actions">
    <%= form.submit "Create Employee" %>
  </div>
<% end %>
