
<h3>Import Files</h3>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Email</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @import_files.each do |import_file| %>
      <tr>
        <td><%= import_file.user_id %></td>
        <td><%= import_file.name %></td>
        <td><%= import_file.email %></td>
        <td><%= import_file.status %></td>
        <td><%= link_to 'Show', import_file %></td>
        <td><%= link_to 'Edit', edit_import_file_path(import_file) %></td>
        <td><%= link_to 'Destroy', import_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Import File', new_import_file_path %>
