
<p>
  <strong>User:</strong>
  <%= @import_file.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @import_file.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @import_file.email %>
</p>

<p>
  <strong>Status:</strong>
  <%= @import_file.status %>
</p>

<%= link_to 'Edit', edit_import_file_path(@import_file) %> |
<%= link_to 'Back', import_files_path %>
