<div class="comment clearfix">
<div class="comment_content">

    <h4 class="comment_name">Commented by: <strong><%= comment.name %></strong></h4><br>
    <p class="comment_body"><%= comment.body %></p>
    <p class="comment_time"><%= time_ago_in_words(comment.created_at) %> Ago</p>

  <% if current_user %>
      <p><%= link_to "Delete", [comment.post, comment],
                     method: :delete,
                     class: "button",
                     data: { confirm: 'Are you sure?' } %></p>
  <% end %>
</div>
</div>