<div id="page_wrapper">
<h3>Forgot your password?</h3>
<br>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
<br>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
</div>