<h4>Import Files To Dashboard</h4>
<br>
<table class="striped">
  <thead>
  <tr>
    <th>User ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <% @informations.each do |information| %>
      <tr>
        <td><%= information.id %></td>
        <td><%= information.name %></td>
        <td><%= information.email %></td>
        <td><%= information.status %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<div>
  <br><br><br><br><br>
  <h5>Import CSV File</h5>
  <br>
  <%= form_tag import_informations_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import CSV" %>
  <% end %>
</div>
<br><br>
<div> <h5>Download File: </h5>
<%= link_to 'CSV', informations_path(format: 'CSV') %> |
  <%= link_to 'Excel', informations_path(format: 'xls') %>
</div>
