<div id="page_wrapper">

<h3>Sign in</h3>
<br>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
      <br>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
      <br>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
      <br>

  <div class="actions">
    <%= f.submit "Log in"%>
  </div>
<% end %>
  <br>

<%= render "devise/shared/links" %>
</div>