<div id="post_content">
  <h4> Discussion Board</h4>

<p id="notice"%></p>
  <table class="striped">
    <tbody>
    <tr>
<% @posts.each do |post| %>
<div class="post_wrapper">
  <h2 class="title"> <%= link_to post.title, post %></h2>
  <p class="date">Published at: <%= post.created_at.strftime ("%B, %d, %Y") %></p>
  <p class="user">Created by:  <%= link_to post.user.name %></p>
</div>
     <%end%>
  </tbody>
  </tr>
  </table>
</div>
