<div id="post_content">
<div class="post_wrapper">
  <h4><%= @post.title %></h4>
  <p class="date">
  <p>Submitted <%= time_ago_in_words(@post.created_at) %> Ago <br /></p>

  <div class="buttons">
    <% if current_user == @post.user %>
        <button class="button"> <%= link_to 'Edit', edit_post_path(@post) %> </button> ||
        <button class="button"> <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %> </button>
    <% end %>
  </div>

 <h6> <p class="body"><%= @post.body %></p></h6>
</div>
  <div id="comments">
    <h5><%= @post.comments.count %> Comments</h5>
    <%= render @post.comments %>
<% if user_signed_in? %>
    <h5>Add a comment:</h5>
    <%= render "comments/form" %>
        <% end %>
  </div>
</div>
