<!DOCTYPE html>
<html>
<head>
  <title>DashBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>

    <div id="sidebar">
      <div id="logo">
      <%= link_to root_path do %>
            <%= image_tag "Home_Button.jpg" %>
      <% end %>
      </div>

  <ul>
    <li class="category">Categories</li>
    <li><%= link_to "Introduction", about_path%></li>
    <li><%= link_to "Dashboard", root_path %></li>
    <li><%= link_to "Import Files", import_files_path%></li>
  </ul>

  <ul>
    <li class="category">Social Links</li>
    <li><a href="https://google.com">Google</a></li>
    <li><a href="http://youtube.com">Youtube</a></li>
    <li><a href="mailto:jay.pham1989@gmail.com">Email</a></li>
  </ul>
      <br> <br><br>
<ul>
  <div class="buttons">
      <% if !user_signed_in? %>
        <button class="button"> <%= link_to 'Create Account', new_user_registration_path %></button><br>
        <button class="button"> <%= link_to 'Sign In', new_user_session_path %></button>
      <% end %>
  </div>
</ul>
    </div>

    <div id="main_content">
      <div class="navbar-fixed">
      <div id="header">

       <% if current_page?(root_path) %>
        <p>All Posts</p>
       <% elsif current_page?(about_path) %>
        <p>Introduction</p>
            <% elsif current_page?(import_files_path)%>
            <p> Import CSV Files Page</p>
       <% else %>
        <%= link_to 'Back to All Posts', root_path %>
        <% end %>


        <% if user_signed_in? %>
        <div class="buttons">
          <p> Hello, <%= current_user.name %></p>
          <button class="button"><%= link_to current_user.email, edit_user_registration_path %></button>
          <button class="button"><%= link_to 'New Post', new_post_path %></button>
          <button class="button"><%= link_to 'Sign Out',  destroy_user_session_path, :method => 'delete' %></button>
        </div>
            </div>

      <% end %>

      </div>

      <div id="page_wrapper">

      <% flash.each do |name, msg| %>
         <%= content_tag(:div, msg, class: "alert") %>
         <% end %>

      <%= yield %>
      </div>
    </div>
</body>
</html>